body {
  background-image: url(https://cdn.glitch.global/9a66240e-f180-45a6-a8ea-14552f38416e/photo1.avif?v=1666474482521);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}